<ion-header>
  <img src="../../assets/driver-header.png"/>
</ion-header>

<ion-content>

  <div class="background-container">

      <ion-card>

        <ion-card-header>
          <ion-card-content>

            <div class="icon">
              <img src="../../assets/driver-icon.png"/>
            </div>

            <ion-item>
              <ion-input placeholder="Enter your Full Name" type="text" required></ion-input>
            </ion-item> 
          
            <ion-item>
              <ion-input placeholder="Enter your TODA" type="text" required></ion-input>
            </ion-item> 

            <ion-item>
              <ion-input placeholder="Enter your Plate Number" type="number" required></ion-input>
            </ion-item> 

            <ion-item>
              <ion-input placeholder="Enter your Phone Number" type="number" required></ion-input>
            </ion-item> 

            <div class="checkbox">
              <ion-checkbox color="primary" name="agreement"></ion-checkbox>
              <ion-label>  I agree to Pasakay's <a href="#">Term of Use</a> and acknowledgement the <a href="#">Privacy Policy </a></ion-label>
            </div>
      
            <div class= "bottom-section">
              <ion-button>
                Log In
              </ion-button>
            </div>
              
          </ion-card-content>
        </ion-card-header>

      </ion-card>

    </div>

</ion-content>
