ion-header{
    img{
        height: 100%;
        width: 100%;
    }
}


ion-content{
    --ion-background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;

}

.background-container{
    height: 100vh;
    width: 100%;
    display: flex;
    background: url('../../assets/mainscreen-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    flex-direction: column;

}

ion-card{
    text-align: center;
    background: transparent;
    box-shadow: none;
}
  
    a{
      margin-top: 10px;
      text-decoration: underline;
      color: rgb(255, 255, 255);
      font-weight: 300;
      font-size: 12px;
    }
  
  ion-card-content{

    ion-item{
      --ion-item-background: transparent;
      --border-width: 0;
      --inner-border-width: 0;
      --highlight-color-focused: none;
    }
  
      ion-input{
        width: 247px;
        height: 42px;
        border-radius: 15px;
        border: 1px solid rgb(0, 38, 255);
        font-size: 14px;
        font-weight: 300;
        color:rgb(255, 255, 255);
        --padding-start: 30px;
        --padding-end: 30px;
      }
  }

.checkbox{
    margin-top: 10px;
    font-weight: 303;
    color: #fff;
    initial-letter: center;
  
    ion-label{
        font-size: 13px;
    }

    a{
        margin-top: 10px;
        font-size: 14px;
        font-weight: 700;
    }
}
  
    .bottom-section{
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
    ion-button{
        height: 53px;
        width: 247px;
        font-size: 14px;
        text-transform: none;
        --background: rgb(0, 38, 255);
        font-weight: 300;
        border-radius: 15px;
        color: #fff;
      }

    ion-button{
        width: 180px;
        height: 60px;
        --border-radius: 40px;
        --background: rgb(0, 38, 255);
        color: #fff;
        box-shadow: cornflowerblue;
        font-weight: 400;
        text-transform: none; 
    }
}

@media screen and (min-width: 500px){
    .background-filter{
        height: 100%;
        width: 100%;
        background: rgba(0, 89, 255, 0.274);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}