<ion-content>
  
  <div class="background-container">

    <div class="icon">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAk5JREFUWEfdWNFV3TAMvZqg7QSECYAJChu0EwATlE5QmKCwAUxQNmg7ATABYoP3Jgjn1jb4KUpivyQcTv3j40SybqRrSY7gnQ15Z3jwnwBq2n0AxwA4f4wznX0PYBXnG6hwXTXqPNS05wC+RRAlhgjuEioXJcKUKQPUtF8A/ATQlG5s5BTAd6jcjumPAwpe+TG2UeH78zFvDQNq2uvIlUJ7RWLXUDntk+wHNK9nrP0LqNDzneEDCpz5VfS92wt99TjVB4gk3NneVpGmQmXXSnYBLRuq0dB5gJg7PhjNh7jei7NdW0Ol8iuofMqVNwGFDHzngDmMz/7EOV8nkEmNYGrkD/KMbgFdxkycY9qFCjkFNC3LBKBCL3LNRPloPqBW/goqZ2kPC4ge+GwMsB4dvYBILwO431kdS29q5f9CJXnUlI6m5WY2BDTEQnmyAXQ4adbI30PloM9DrXNgAydSmDY9RI/6HCqXJwVeImVD5gFiuAKZuxyiqxm2fNTKDwLyQkYCH5HKmXGuSWiCCUR/HbXyD1Dh6f43SkhNORohoKRI4ARkwaR9a+QHSe0de4dWsz4aPPZeYpzVurPZQGIMxPVKx1Kg1lDZCPu04podV5OjvNPqfVSnL5rWfkwD9ASVTo8+rUGbBqiiQQtcmrO5t+GqbGFfy8MSTX63zmVw3/oa1OsZP1P3He7Q9DNpbttnPwE4m+eimIMMvGIzZVvcvk9Zx6u0e+XxlMZD5mmFVpf9UfrZkPfa6WcDL4QL/2xYKl9XkfoNQOQmtgvZgiCfAThz2SVEc2cPAAAAAElFTkSuQmCC"/> 
    </div>

    <div class="header">
      <h2>Yo! Forgot Password?</h2>
      <h6>That's okay, it happen.</h6>
    </div>

    <ion-card>
      <ion-card-content>

        <ion-label>We send you a code to this number
          <br>09xx-xxx-xxxx
        </ion-label>
        
        <ion-item>
          <ion-input placeholder="Enter Code" type="text" required></ion-input>
        </ion-item>
        
        <ion-label>If you don't receive any code, 
          <a href="#">RESEND</a>
        </ion-label>

      </ion-card-content>

    </ion-card>

    <div class= "bottom-section">
      <ion-button>
        Verify
      </ion-button>

      <br><a [routerLink]="['/mainscreen']"> I remember my password </a>
    </div>

  </div>
</ion-content>
